* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content_container {
  opacity: 0;
  transition: opacity 2s;
}

.image_holder {
  cursor: pointer;
}

.tooltip {
  position: absolute;
  color: #fff;
  background-color: black;
  width: 6em;
  text-align: center;
  cursor: pointer;
  border-radius: .25em;
  padding: .35em 0 .25em 0;
  z-index: 1;
  left: 50%;
  margin-top: -1em;
  margin-left: -3em;
  opacity: 0;
  transition: opacity 1.5s;
}

.tooltip::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.appear {
  opacity: 1;
}

.disappear {
  opacity: 0;
}

.alt_switch {
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  padding: 0.2em 0.2em;
}

.alt_switch:active {
  color: red;
  user-select: none;
}

.git-link {
  font-size: 1em;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  padding: 0.2em 0.2em;
}

.git-link:active {
  color: red;
  user-select: none;
}

.git-link:visited {
  color: black;
}

.list_tracks {
  position: absolute;
  left: 0;
  bottom: 0;
  cursor: pointer;
  padding: 0.2em 0.2em;
}

.list_tracks:active {
  color: red;
  user-select: none;
}

.tracks_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  left: 0;
  top: 1.5em;
  opacity: 0;
  transition: opacity .5s;
  line-height: 110%;
}

.tracks_container a {
  font-family: monospace;
  text-decoration: underline;
  cursor: pointer;
  margin: 0.1em 0.2em;
}
