* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content_container {
  opacity: 0;
  transition: opacity 2s;
}

.image_holder {
  cursor: pointer;
}

.tooltip {
  position: absolute;
  color: #fff;
  background-color: black;
  width: 6em;
  text-align: center;
  cursor: pointer;
  border-radius: .25em;
  padding: .25em 0;
  z-index: 1;
  left: 50%;
  margin-top: -1em;
  margin-left: -3em;
  opacity: 0;
  transition: opacity 1.5s;

}

.tooltip::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.appear {
  opacity: 1;
}

.disappear {
  opacity: 0;
}

.alt_switch {
  position: absolute;
  right: 0.2em;
  bottom: 0.2em;
  cursor: pointer;
  text-decoration: underline;
  padding: 0 0.2em;
}

.alt_switch:active {
  color: red;
  user-select: none;
}
