* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.message-display {
  background-color: #cec;
  border: 2px solid #9b9;
  padding: 0.5em;
  margin: 0.5em;
}

.box-container {
  display: flex;
  flex-flow: row wrap;
}

.box {
  padding: 1em;
}

form {
  display: flex;
  flex-direction: column;
}

#signup-box {
  background-color: #ecc;
  border: 2px solid #b99;
  margin-right: 0.1em;
}

#login-box {
  background-color: #cee;
  border: 2px solid #9bb;
  margin-left: 0.1em;
}