* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: "lucida sans";
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

.container {
  height: 35vw;
  width: 30vw;
  background-color: #aaa;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.heading {
  font-size: 150%;
  font-weight: 400;
  text-align: center;
  padding: 0.5em;
}

.channel-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #bbb;
  padding: 0 1%;
}

.inner-box {
  height: 100%;
  width: 100%;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  border: 0.25em solid #aaa;
  
}

.search-channel {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
}

.searchbox {
  width: 90%;
  background-color: #aaa;
  border: none;
  font-size: 90%;
  padding: 1%;
}

.go {
  font-size: 100%;
  background-color: #bbb;
  border: none;
  margin: 0;
  width: 10%;
}

.channel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.channel-bg {
  width: 100%;
  height: 100%;
  background-color: #c77;
  display: flex;
  flex-direction: column;
  position: relative;   /* absolute positioning positions relative to the nearest positioned ancestor (anything except static) */
}

.channel-fg {
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
  display: flex;
}

.channel-art {
  height: 100%;
  width: 27.5%;
  background-color: white;
  filter: brightness(120%);
}

.channel-desc {
  height: 100%;
  width: 72.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25em;
}

.channel-desc p {
  text-align: center;
}

.channel-name, .channel-game {
  font-weight: bold;
}