* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: "lucida sans";
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

.container {
  height: 35vw;
  width: 30vw;
  background-color: #aaa;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.heading {
  font-size: 150%;
  font-weight: 400;
  text-align: center;
  padding: 0.5em;
}

.channel-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #bbb;
  padding: 0 1%;
}

.inner-box {
  height: 100%;
  width: 100%;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
}

.search-channel {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
}

#searchbox {
  width: 90%;
  background-color: #aaa;
  border: none;
  font-size: 90%;
  padding: 1%;
}

#go {
  font-size: 100%;
  background-color: #bbb;
  border: none;
  margin: 0;
  width: 10%;
}

.channel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.channel-bg {
  width: 100%;
  height: 100%;
  border: 0.25em solid #aaa;
  border-top: 0 solid #000;
  background-color: #c77;
  display: flex;
  flex-direction: column;
}

.channel-fg {
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 2;
}

#channel1-name, #channel1-game {
  font-style: italic;
}