* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: "lucida sans";
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

.container {
  height: 30vw;
  width: 30vw;
  background-color: #aaa;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.heading {
  font-size: 150%;
  font-weight: 400;
  text-align: center;
  padding: 0.5em;
}

.new-channel {
  margin-bottom: 1%;
}

#go {
  background-color: #bbb;
  border: 0.1em solid #ccc;
}

.channel-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #bbb;
  padding: 0 1%;
}

.channel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.channel-bg {
  width: 100%;
  height: 33.3%;
  border: 0.25em solid #aaa;
  margin: 1% 0;
  
  background-color: #c77;
}

.channel-fg {
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 2;
}

#searchbox {
  color: black;
}

#channel1-name, #channel1-game {
  font-style: italic;
}