* {
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
}

.playground {
  position: relative;
  width: 100%;
  height: 100vh;
}

#co1 {
  position: relative;
  top: 0;
  height: 6.67%;
  background-color: rgb(0, 132, 255);;
}

#co2 {
  position: relative;
  top: 0;
  height: 6.67%;
  background-color: rgb(68, 190, 199);
}

#co3 {
  position: relative;
  top: 0;
  height: 6.67%;
  background-color: rgb(255, 195, 0);
}

#co4 {
  position: relative;
  top: 0;
  height: 6.67%;
  background-color: rgb(250, 60, 76);
}

#co5 {
  position: relative;
  top: 0;
  height: 6.67%;
  background-color: rgb(214, 150, 187);
}

#co6 {
  position: relative;
  top: 0;
  height: 6.67%;
  background-color: rgb(102, 153, 204);
}

#co7 {
  position: relative;
  top: 0;
  height: 6.67%;
  background-color: rgb(19, 207, 19);
}

#co8 {
  position: relative;
  top: 0;
  height: 6.67%;
  background-color: rgb(255, 126, 41);
}

#co9 {
  position: relative;
  top: 0;
  height: 6.67%;
  background-color: rgb(230, 133, 133);
}

#co10 {
  position: relative;
  top: 0;
  height: 6.67%;
  background-color: rgb(118, 70, 255);
}

#co11 {
  position: relative;
  top: 0;
  height: 6.67%;
  background-color: rgb(32, 206, 245);
}

#co12 {
  position: relative;
  top: 0;
  height: 6.67%;
  background-color: rgb(103, 184, 104);
}

#co13 {
  position: relative;
  top: 0;
  height: 6.67%;
  background-color: rgb(212, 168, 140);
}

#co14 {
  position: relative;
  top: 0;
  height: 6.67%;
  background-color: rgb(255, 92, 161);
}

#co15 {
  position: relative;
  top: 0;
  height: 6.67%;
  background-color: rgb(166, 149, 199);
}

#ball {
  position: absolute;
  bottom: 0;
  border: 1em solid white;
  border-radius: 100%;
  padding: 25%;
  background-color: #F55;
  z-index: 5;
}

#ball2 {
  position: absolute;
  bottom: 0;
  border: 1em solid white;
  border-radius: 100%;
  padding: 12.5%;
  background-color: #5F5;
  z-index: 5;
}

#ball3 {
  position: absolute;
  bottom: 0;
  border: 1em solid white;
  border-radius: 100%;
  padding: 5.75%;
  background-color: #55F;
  z-index: 5;
}