* {
  font-family: "Roboto";
  color: white;
/*border: 1px solid black; */
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 255, 255);
}

/* All text and headings */
.content {
  font-size: 115%;
  line-height: 1.5em;
  background-color: rgb(53, 135, 164);
  margin: 1%;
  border: 0.07em solid black
}

h1, h2 {
  color: FFF;
  text-shadow: 0.07em 0.07em black;
  text-align: center;
  background-color: rgb(136, 204, 241);
  padding: 0.5em;
  margin: 0;
}

.paragraph {
  margin: 0.75em 0.5em 0.75em 0.5em;
}

ul {
  margin: 0;
}

li {
  margin-left: 1em;
}
