* {
  font-family: "Roboto";
  color: white;
/*border: 1px solid black; */
}

body {
  background-color: rgb(255, 255, 255);
}

/* All text and headings */
.content {
  font-size: 120%;
  line-height: 1.4em;
  background-color: rgb(6, 93, 117);
  margin: 1%;
  border: 0.07em solid black
}

h1, h2 {
  color: FFF;
  text-shadow: 0.07em 0.07em black;
  text-align: center;
  background-color: rgb(125, 197, 250);
  padding: 0.5em;
  
}

h1 {
  margin: 0em 0em 0.5em 0em;
}

ul {
  margin: 0px;
}
