body {
  background-color: aliceblue;
}

.func {
  background-color: limegreen;
  color: white;
  font-weight: bold;
}

.bg {
  height: 30px;
  width: 50px;
}

#b1 {
  background-color: aliceblue;
}

#b2 {
  background-color: tomato;
}

#b3 {
  background-color: royalblue;
}

#b4 {
  background-color: gold;
}

.move {
  background-color: dodgerblue;
  color: white;
  font-weight: bold;
}

#finn {
  position: relative;
}
