#github_logo {
  margin-top: 15px;
  height: 22%;
  width: 22%;
}

#home {
  text-align: center;
  background-color: lemonchiffon;
  font-family: Inconsolata;
}

.button-group {
  margin-top: 23px;
}

.button-group button {
  height: 30px;
}

.nav {
  background-color: lavenderblush;
  padding: 5px;
  font: 20px Inconsolata;
}

.tab-content h1 {
  font-family: Inconsolata;
  color: black;
  background-color: lavender;
}

.finn {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.finn-move {
  display: block;
  width: 12em;
  margin-left: auto;
  margin-right: auto;
}

#pill_e {
  font-family: Roboto;
  color: white;
  background-color: rgb(53, 135, 164);
}

.content {
  padding: 0 2px;
}

#pill_e h2 {
  text-shadow: 1px 1px 1px rgb(53, 135, 164);
  background-color: rgb(136, 204, 241);
}

#pill_e p {
  text-decoration: underline;
  margin: 0;
}

pre {
  font-family: Roboto;
  font-size: 1em;
  line-height: 1.5em;
}
