body {
  background-color: aliceblue;
}

button {
  background-color: springgreen;
}

button#b1 {
  background-color: aliceblue;
}

button#b2 {
  background-color: tomato;
}

button#b3 {
  background-color: royalblue;
}

button#b4 {
  background-color: gold;
}
