body {
  background-color: aliceblue;
}

button {
  background-color: springgreen;
}

button#b1 {
  background-color: mistyrose;
}

button#b2 {
  background-color: tomato;
}

button#b3 {
  background-color: royalblue;
}
