* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  /*border: 1px solid black*/
}

body {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  background-color: rgba(208, 231, 247, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 300%;
  color: white;
  padding-top: 1%;
  padding-bottom: 1%;
}

.photo {
  height: 160px;
  width: 160px;
  border: 3px solid white;
  margin-bottom: 1%;
}

.navigation {
  width: 100%;
  background-color: rgb(215, 224, 142);
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0 5% 0 5%;
  border: 2px solid white;
}

h1, .navigation {
  text-shadow: 1px 1px 2px black;
}

.nav-buttons {
  border: 1px solid white;
}

li {
  display: inline-block;
  width: 19.5%;
  height: 2em;
  font-size: 1.5em;
  text-align: center;
  line-height: 2em;
  vertical-align: middle;
}

.content {
  margin-top: 15px;
  background-color: aliceblue;
  width: 75%;
  flex-basis: content;
  padding: 2%;
}

h2 {
  text-align: center;
}

.banner {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#cons {
  position: fixed;
  bottom: 0;
  left: 0;
  color: white;
  background-color: #48a;
  padding: 1%;
}
