* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "courier";
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.card {
  width: 50vh;
  height: 50vh;
  border: 1px solid black;
  box-shadow: 1px 1px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
	transition: opacity 1s, top 1s, transform 0.5s ease;
	background: #ff8;
	transform-origin: center;
}

#card1 {
  top: 25vh;
}

#card1b {
	transform: rotate3d(0, 1, 0, 90deg);
}

#card2 {
  position: absolute;
  top: 75vh;
  opacity: 0;
}

#card2b {
	transform: rotate3d(0, 1, 0, 90deg);
}

#logo {
  position: absolute;
  top: .75em;
  font-size: 2.5vh;
  color: gray;
}

.next {
  position: absolute;
  border: 1px solid black;
  bottom: .75em;
  font-size: 2.5vh;
  background: none;
  box-shadow: 1px 1px black;
  padding: 0.3em;
	background: #ffa;
}

.next:focus {
  outline: none;
}

.mouse-down {
  box-shadow: none;
}

.middle-rise {
	transform: translate(0, -25em);
}

.bottom-rise {
  transform: translate(0, -50em);
}

.disappear {
	opacity: 0;
}

.appear {
  opacity: 100;
}

.rotate {
	transform: rotate3d(0, 1, 0, 90deg);
}

.rotateb {
	transform: rotate3d(0, 1, 0, -90deg);
}

