* {
  padding: 0;
  margin: 0;
  box-sizing: border-box
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 30vh;
  height: 30vh;
  border: 1px solid black;
  box-shadow: 1px 1px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.next {
  position: absolute;
  border: 1px solid black;
  bottom: 1em;
  background: none;
  box-shadow: 1px 1px black;
  padding: 0.5em;
}

.next:focus {
  outline: none;
}

.mouse-down {
  box-shadow: none;
}
