* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-area {
  margin: 1em;
}

#input {
  border: 1px solid red;
}

#output {
  border: 1px solid yellow;
}