* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-area {
  margin: 1em;
  flex-direction: column;
  
}

button {
  display: block;
  margin-bottom: 1em;
}
