* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-body {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  border: 1px solid black;
  box-shadow: 1px 1px #bbb;
}

.calc-display {
  height: 5em;
  border: 1px solid #111;
  position: relative;
  margin-bottom: 0.5em;
  padding: 0 0.25em;
  box-shadow: -1px -1px #bbb;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: hidden;
}

#op-display {
  text-align: right;
  height: 1em;
}

#num-box {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

#num-display {
  text-align: right;
  /* use absolute positioning (relative to closest positioned ancestor) to avoid overflowing causing unexpected growth */
  position: absolute;
}

.calc-pad {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-pad-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  background-color: #fff;
}

.btn {
  width: 4em;
  height: 4em;
  font-size: 1em;
  margin: 0.1em;
}

.btn-row {
  flex-basis: auto;
  display: flex;
}

#btn-0 {
  width: 8.2em;
}

.btn-col {
  display: flex;
  flex-direction: column;
  
}

#btn-equal {
  height: 8.2em;
}