* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "source sans pro";
  
}

body {
  height: 100vh;
  background: #EEE;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: slategray;
}

.search-area {
  display: flex;
  justify-content: center;
}

.display {
  height: 100%;
  width: 100vw;
  display: flex;
}

.resultsHere {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.5em;
  overflow: scroll;
}

#searchbox {
  font-size: 1em;
}

button {
  width: 2em;
  height: 2em;
  background-color: white;
  border: 0.1em solid gray;
}

#name {
  position: absolute;
  top: 0.2em;
  left: 0;
  color: white;
  font-weight: bold;
}

#name a:link {
  text-decoration: none;
}

#name a:visited {
  color: white;
}

#icon {
  margin: 0 0.2em;
}

#logo {
  position: absolute;
  right: 0;
  top: 0.2em;
  color: white;
  margin-right: 0.2em;
  
}

#git-link:link {
  color: white;
  text-decoration: none;
}

#git-link:visited {
  color: white;
}
