* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.port {
	width: max-content;
	display: grid;
	grid-template-columns: max-content auto;
	padding: 1em;
}

.cell {
	border-bottom: 1px solid lightgray;
	padding: 0.5em;
}
