* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#clickme {
  height: 30vw;
  width: 30vw;
  background-color: #111;
}

