* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: #AAA;
}

.shelf {
  height: 100%;
  min-width: 20em;
  max-width: 33%;
  background-color: black;
  position: fixed;
}

.toggle-display {
  position: absolute;
  top: 0;
  right: 0;
  height: 1.5em;
  width: 1.5em;
  color: #EEE;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #eee;
  background-color: #333;
}