* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "open sans";
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.message-display {
  display: flex;
  flex: 0 0 auto;
  background-color: #cec;
  border: 2px solid #9b9;
  padding: 0.5em;
  margin: 2em 0.5em;
  opacity: 1;
  transition: opacity 1s linear 1s;
}

.box-container {
  display: flex;
  flex: 0 0 auto;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.box-border {
  display: flex;
  flex-basis: content;
  padding: 1em;
  position: relative;
}

#box-border-signup {
  background-color: #daa;
  box-shadow: 0.5px 0.5px 2.5px 0px black;
}

#box-border-login {
  background-color: #acc;
  box-shadow: 0.5px 0.5px 2.5px 0px black;
}

.number-icon {
  color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5em;
  width: 2.5em;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #aaa;
  
}

.box {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  min-width: 15em;
}

.box p {
  color: white;
  font-size: 1.5em;
  letter-spacing: 2px;
  margin-bottom: 0.1em;
  text-shadow: 1px 1px black;
}

form {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: stretch;
}

form > input {
  margin-bottom: 0.5em;
}

form > input[type="text"] {
  color: gray;
  height: 2em;
}

form > input[type="submit"] {
  height: 2.5em;
  box-shadow: 1px 1px black;
}

.divider {
  width: 0em;
  height: 0em;
}

.opaque {
  opacity: 0;
}