* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "open sans";
}

body {
  width: 100vw;
  height: 100vh;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 2em;
}

.timer {
  font-size: 2em;
  text-align: center;
  margin: 0.1em;
  display: flex;
}

.timer p {
  font-size: 1.5em;
}

#minute, #second {
  font-size: 1.5em;
  flex-basis: content;
}

.control {
  display: flex;
  justify-content: center;
}

.control button {
  font-size: 2em;
  font-weight: bold;
  border: none;
  background-color: #fff;
  padding: 0.05em 0.15em;
  margin: 0.1em;
  outline: solid #fff;
  transition-duration: 0.4s;
  cursor: pointer;
}

.control button:focus {
  outline: solid #ddd;
  background-color: #eee;
}