* {
/*  border: 1px solid black; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Saira";
}

body {
  display: flex;
  height: 100vh;
  background-color: #333;
  flex-direction: column;
  justify-content: space-around;
}

.heading {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 3em;
}

.heading:hover {
  animation: 1s infinite alternate grow-heading;
}

.container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  height: 50vh;
  width: 100vw;
  border: 1em solid #555;
}

.item {
  position: relative;
  width: 25%;
  height: 30%;
}

.item:hover {
/*
  animation: 1s infinite alternate grow
*/
  animation-duration: .9s;
  animation-name: grow;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.a {
  flex: 0 0 auto;
  background-color: #008080;
}

.b {
  flex: 0 0 auto;
  background-color: maroon;
}

.c {
  flex: 0 0 auto;
  background-color: orchid;
}

.border {
  border: 1em solid white;
}

#text {
  display: flex;
  justify-content: center;
  color: white;
}

@keyframes grow {
  from {
  }
  to {
    height: 100%;
    filter: brightness(1.5);
  }
}

@keyframes grow-heading {
  from {
    filter: drop-shadow(0 0 white);
  }
  to {
    filter: drop-shadow(1em 1em white);
  }
}