* {
/*  border: 1px solid black; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Saira";
}

body {
  display: flex;
  height: 100vh;
  background-color: #333;
  flex-direction: column;
  justify-content: space-around;
}

.banner {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background-color: #555;
  
}

.banner .title {
  color: white;
  font-size: 3em;
  text-shadow: 0.05em 0.05em #555;
  background-color: #333;
  padding: 0 1em;
}

.banner .title:hover {
  animation: 1s infinite alternate grow-banner;
}

.box {
  flex-grow: 1.5;
  overflow: scroll;
  overflow-x: hidden;
  height: 50vh;
  border-width: 1em 0em 1em 1em;
  border-style: inset;
  border-color: white;
}

.big-box {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  width: 100vw;
  background-color: #333;
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: yellow;
}

.hiding {
  font-size: 4em;
}

.hiding:hover {
  animation: 1s infinite alternate grow-hiding;
}

.container3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F6F;
}

.input {
  width: 25%;
  display: flex;
  align-items: stretch;
}

.input input {
  flex-grow: 2;
  font-size: 100%;
}

.input button {
  flex-grow: 0;
  padding: 1%;
  font-weight: bold;
  background-color: #F9F;
  color: white;
  font-size: 100%;
}

.input-content {
  border: 3px solid white;
}

.display-roman {
  height: 5em;
  width: 25%;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  background-color: #F9F;
  color: white;
}

.container4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffa399;
}

.container4 > .fa {
  font-size: 4em;
}

.container4 > .joke {
  text-align: center;
  font-size: 1.5em;
}

.container4 > button {
  color: white;
  font-size: 1.5em;
  padding: 0.3em;
  margin-top: 1em;
  border: 0.25em solid white;
  background-color: #ffa399;
}

.container4 > button:hover {
  animation: 1s infinite alternate button-shadow1;
}

.container4 > button:focus {
  outline: 0;
}

.item {
  width: 25%;
  height: 30%;
}

.item:hover {
/*
  animation: 1s infinite alternate grow
*/
  animation-duration: .9s;
  animation-name: grow;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.a {
  flex: 0 0 auto;
  background-color: #008080;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.b {
  flex: 0 0 auto;
  background-color: maroon;
}

.c {
  flex: 0 0 auto;
  background-color: orchid;
}

.tiny {
  flex: 0 0 auto;
  background-color: aliceblue;
  width: 20%;
  height: 80%;
}

.border {
  border: 1em solid white;
}

#text {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #555;
}

@keyframes grow {
  from {
  }
  to {
    height: 100%;
    filter: brightness(1.5);
  }
}

@keyframes grow-banner {
  from {
    
  }
  to {
    filter: drop-shadow(1em #333);
  }
}

@keyframes grow-hiding {
  from {
    
  }
  to {
    background-color: #ffffcc;
  }
}

@keyframes button-shadow1 {
  from {
    
  }
  to {
    filter: brightness(1.25);
  }
}

/*
@keyframes button-shadow2 {
  from {
    
  }
  to {
    filter: drop-shadow(0.1em 0.1em 0.5em black);
  }
}
*/