* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.outer {
  height: 100%;
  width: 100%;
  background-color: rgb(179, 85, 85);
}

.court-wrapper {
  display: block;
  width: 100%;
  margin-top: 25%;   
  background-color: blue;
  border: 10px solid white;
}

.court {
  position: relative;
  top: 10%;
  left: 10%;
  height: 80%;
  width: 80%;
  background-color: rgb(99, 158, 50);
  border: 0.5em solid white
}
